<!DOCTYPE html>
<html>
<head>
  <title>Propeller</title>
  <%= stylesheet_link_tag    "propeller/application", media: "all" %>
  <%= javascript_include_tag "propeller/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
